<div class="form-group">
    <ul class="nav nav-tabs">
        <li role="presentation"  class="active">
            <a ui-sref="projectManage">项目管理</a>
        </li>
        <li role="presentation">
            <a ui-sref="allFileData">数据文件</a>
        </li>
        <li role="presentation">
            <a ui-sref="allFileAl">算法文件</a>
        </li>
         <li role="presentation">
            <a ui-sref="RunAl">运行</a>
        </li>
    </ul>
</div>

<!--<div class="container">-->
        <!--<label>创建新项目</label>-->
        <!--<button>创建</button>-->
<!--</div>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-10">
            <div class="panel panel-default" style="width: 80%">
                <div class="panel-heading">已有项目
                    <button class="btn btn-primary" style="margin-left: 20px" data-toggle="modal" data-target="#myModal" >创建新项目</button>

                </div>
                <table class="table">
                    <th>项目名</th><th>编辑</th><th>删除</th><th>项目描述</th>
                    <tr ng-repeat="item in vm.projects">
                        <td>{{item[0]}}</td>
                        <td><button class="glyphicon glyphicon-pencil" ng-click="vm.editIndex = $index;"  data-toggle="modal" data-target="#myModal1"></button></td>
                        <td><button class="glyphicon glyphicon-trash"  ng-click="vm.delProject($index)"></button></td>
                        <td>{{item[1]}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">请填写相关参数</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label" >项目名称:</label>
                            <input type="text" class="form-control" style="width: 70%" ng-model="vm.projectName">
                        </div>
                        <div class="form-group">
                            <label class="control-label">项目描述:</label>
                            <input type="text" class="form-control" style="width: 70%"  ng-model="vm.projectDes">
                        </div>
                        <div class="form-group">
                            <label class="control-label" >项目数据格式限制:</label>
                            <input type="text" class="form-control" style="width: 70%" ng-model="vm.projectLimit">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="vm.createProject()">创建</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModal1Label">请编辑相关参数</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label">修改项目描述:</label>
                            <input type="text" class="form-control" style="width: 70%"  ng-model="vm.projectDesEdit">
                        </div>
                        <div class="form-group">
                            <label class="control-label" >修改项目数据格式限制:</label>
                            <input type="text" class="form-control" style="width: 70%" ng-model="vm.projectLimitEdit">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="vm.editProject(vm.editIndex)">确认编辑</button>
                </div>
            </div>
        </div>
    </div>
</form>

