.delete-button {
    /*color: red;*/
    float: right;
    white-space: nowrap;
}

.delete-title {
    text-align: center;
    font-size: larger;
    color: #0A4D82 ;
    margin-left: 100px;
}

.delete-text {
    font-size: inherit;
    color: #0A4D82 ;
}

.confirm {
    /*color: #3c80f6;*/
}
