/* ========================================================================
   Component: preloader.less
 ========================================================================== */
/*@noflip*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #272a33;
    z-index: 9999;
    -webkit-transition: opacity 0.65s;
    -o-transition: opacity 0.65s;
    transition: opacity 0.65s;
}

/*@noflip*/
.preloader-progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 164px;
    height: 51px;
    margin: auto;
    overflow: auto;
    background-image: url(/content/images/logo_01_alpha.png);
    background-size: 164px 51px;
}

/*@noflip*/
.preloader-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 10px;
    background-image: url(/content/images/logo_01.png);
    background-size: 164px 51px;
}

.preloader-hidden {
    display: none;
}

.preloader-hidden-add {
    opacity: 1;
    display: block;
}

.preloader-hidden-add .preloader-progress {
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.preloader-hidden-add-active {
    opacity: 0;
}

/* ========================================================================
   Component: preloader.less
 ========================================================================== */
/*@noflip*/
.partial-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #272a33;
    z-index: 999;
    -webkit-transition: opacity 0.65s;
    -o-transition: opacity 0.65s;
    transition: opacity 0.65s;
}

/*@noflip*/
.partial-preloader-progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 164px;
    height: 51px;
    margin: 100px auto;
    overflow: auto;
    background-image: url(/content/images/logo_01_alpha.png);
    background-size: 164px 51px;
}

/*@noflip*/
.partial-preloader-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 10px;
    background-image: url(/content/images/logo_01.png);
    background-size: 164px 51px;
}

.partial-preloader-hidden {
    display: none;
}

.partial-preloader-hidden-add {
    opacity: 1;
    display: block;
}

.partial-preloader-hidden-add .preloader-progress {
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.partial-preloader-hidden-add-active {
    opacity: 0;
}

/* sweet alert */

body.stop-scrolling {
    overflow: auto;
}

.sweet-overlay {
    z-index: 1199;
}

.sweet-alert {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    background-color: #272a33;
    z-index: 1200;
}

.sweet-alert .sa-icon.sa-warning {
    border-color: #cb6228;
    animation: inherit;
}

.sweet-alert .sa-icon.sa-warning .sa-body {
    background-color: #cb6228;
    animation: inherit;
}

.sweet-alert .sa-icon.sa-warning .sa-dot {
    background-color: #cb6228;
    animation: inherit;
}

.sweet-alert h2 {
    color: white;
}

.sweet-alert button.cancel {
    background-color: #3d424e;
}

.sweet-alert p {
    color: white;
}

@-webkit-keyframes pulseWarning {
    0% {
        border-color: #cb6228 !important;
    }
    100% {
        border-color: #cb6228 !important;
    }
}

@keyframes pulseWarning {
    0% {
        border-color: #cb6228 !important;
    }
    100% {
        border-color: #cb6228 !important;
    }
}

@-webkit-keyframes pulseWarningIns {
    0% {
        background-color: #cb6228 !important;
    }
    100% {
        background-color: #cb6228 !important;
    }
}

@keyframes pulseWarningIns {
    0% {
        background-color: #cb6228 !important;
    }
    100% {
        background-color: #cb6228 !important;
    }
}


/*回到页首*/
#backtop.dark button {
    background: #292929;
    padding: 7px 10px;
}

/*广告框 bsba*/
.bsba-bar {
    width: 100%;
    height: 45px;
    /*position: absolute;*/
}

.bsba-top {
    background-color: #696969;
    opacity: 0.5;
    top: 0;
}

.bsba-top-text {
    /*position: absolute;*/
    top: 0;
    left: 12px;
    padding-top: 3px;
    text-align: center;
    color: #eff0f0;
    background: #696969;
    height: 48px;
}

.bsba-bottom {
    background-color: #696969;
    opacity: 0.9;
    /*top: -45px;*/
    padding-top: 2px;
}

.bsba a {
    text-decoration: none;
}

/*pagination 分页*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #7fc5fe;
    cursor: default;
    background-color: #21242b;
    border-color: #4a505f;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #4a505f;
    border-color: #4a505f;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #7fc5fe;
    background-color: #21242b;
    border-color: #4a505f;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #eee;
    text-decoration: none;
    background-color: #4a505f;
    border: 1px solid #4a505f;
}

.pagination-text .info {
    margin-top: 20px;
}

.pagination {
    margin: 10px 0;
}

/* toaster */

#toast-container > div {
    opacity: 1;
}


/* bsb-alert */
.bsb-alert {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    background-color: #272a33;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
}

.bsb-alert .bsb-icon.bsb-warning {
    border-color: #cb6228;
    animation: inherit;
}

.bsb-alert .bsb-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    border-radius: 44px;
}

.bsb-alert .bsb-icon.bsb-warning .bsb-body {
    position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #cb6228;
    animation: inherit;
}

.bsb-alert .bsb-icon.bsb-warning .bsb-dot {
    position: absolute;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    background-color: #cb6228;
    animation: inherit;
}

.bsb-alert h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block;
}

.bsb-alert p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    display: block;
}

.bsb-alert .button-container {
    padding: 1em;
}

.bsb-alert button {
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}

.bsb-alert button.cancel {
    background-color: #3d424e;
}

.bsb-alert .confirm {
    background-color: rgb(203, 98, 40);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 11px;
    height: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(188, 190, 196, 0.55);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}
