<div>
    <h2 data-translate="bsbmsoneApp.article.home.title">Articles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="article.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bsbmsoneApp.article.home.createLabel">
                        Create new Article
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="bsbmsoneApp.article.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="bsbmsoneApp.article.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="authorName"><span data-translate="bsbmsoneApp.article.authorName">Author Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span data-translate="bsbmsoneApp.article.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createDate"><span data-translate="bsbmsoneApp.article.createDate">Create Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="editDate"><span data-translate="bsbmsoneApp.article.editDate">Edit Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="bsbmsoneApp.article.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="bsbmsoneApp.article.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAbandon"><span data-translate="bsbmsoneApp.article.isAbandon">Is Abandon</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="term.id"><span data-translate="bsbmsoneApp.article.term">Term</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creator.id"><span data-translate="bsbmsoneApp.article.creator">Creator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in vm.articles track by article.id">
                    <td><a ui-sref="article-detail({id:article.id})">{{article.id}}</a></td>
                    <td>{{article.title}}</td>
                    <td>{{article.name}}</td>
                    <td>{{article.authorName}}</td>
                    <td>{{article.content}}</td>
                    <td>{{article.createDate | date:'medium'}}</td>
                    <td>{{article.editDate | date:'medium'}}</td>
                    <td>{{article.type}}</td>
                    <td>{{article.state}}</td>
                    <td>{{article.isAbandon}}</td>
                    <td>
                        <a ui-sref="term-detail({id:article.term.id})">{{article.term.id}}</a>
                    </td>
                    <td>
                        {{article.creator.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="article-detail({id:article.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="article.edit({id:article.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="article.delete({id:article.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
