
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNoticeLabel" data-translate="app.notice.home.createOrEditLabel">Create or edit a Notice</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.notice.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.notice.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.notice.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.notice.title"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.notice.content" for="field_content">Content</label>
                <textarea class="form-control" name="content" id="field_content"
                    ng-model="vm.notice.content" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.notice.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.notice.type"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.notice.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="vm.notice.state"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.notice.isRead" for="field_isRead">Is Read</label>
            <input type="checkbox" class="form-control" name="isRead" id="field_isRead"
                    ng-model="vm.notice.isRead"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.notice.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" datetime-picker="{{dateformat}}" ng-model="vm.notice.createDate" is-open="vm.datePickerOpenStatus.createDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="app.notice.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.notice.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
