<div>
    <h2 data-translate="bsbmsoneApp.notice.home.title">Notices</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="notice.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bsbmsoneApp.notice.home.createLabel">
                        Create new Notice
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="bsbmsoneApp.notice.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span data-translate="bsbmsoneApp.notice.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="bsbmsoneApp.notice.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="bsbmsoneApp.notice.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isRead"><span data-translate="bsbmsoneApp.notice.isRead">Is Read</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createDate"><span data-translate="bsbmsoneApp.notice.createDate">Create Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.id"><span data-translate="bsbmsoneApp.notice.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notice in vm.notices track by notice.id">
                    <td><a ui-sref="notice-detail({id:notice.id})">{{notice.id}}</a></td>
                    <td>{{notice.title}}</td>
                    <td>{{notice.content}}</td>
                    <td>{{notice.type}}</td>
                    <td>{{notice.state}}</td>
                    <td>{{notice.isRead}}</td>
                    <td>{{notice.createDate | date:'medium'}}</td>
                    <td>
                        {{notice.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="notice-detail({id:notice.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notice.edit({id:notice.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notice.delete({id:notice.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
