<div class="modal-body">
    <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
    <div class="clearfix">
        <!--clearfix-->
    </div>

    <div>
        <div>
            <span class="delete-title">{{vm.page.title}}</span>
        </div>
       <!--<div>-->
           <!--<span class="delete-text">{{vm.page.text}}</span>-->
       <!--</div>-->

        <div class="button-container">
            <button class="cancel " ng-click="vm.cancel()">{{vm.page.cancelButtonText}}</button>
            <button class="confirm pull-right" ng-click="vm.confirm()">{{vm.page.confirmButtonText}}</button>
        </div>
    </div>

</div>
