<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#/dataLabel">关键词搜索</a></li>
    <li role="presentation"><a href="#/dataLabel/db">数据库搜索</a></li>
</ul>
<br />
<div >
    <div>
    <label>
        关键词:&nbsp;&nbsp;
    </label>
        <input type="text" placeholder="keywords" style="width:500px;" ng-model="keywords">&nbsp;（以+号连接多个关键词）
    </div>
    <div>
    <label>
        数据来源:
    </label>
    </div>
    <div>
        <label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="selectdb" ng-init="selectdb=false" >数据库
        </label>
    </div>
    <div ng-show="selectdb">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据库名称:&nbsp;&nbsp;<input type="text" placeholder="dbname" style="width:500px;" ng-model="dbname">
    </div>
    <div>
    <label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="selectsina">新浪微博
    </label>
    </div>
    <div>
    <label>
        <input type="checkbox" ng-model="selecttime" ng-init="selecttime=false">时间范围:
    </label>
    </div>
    <div ng-show="selecttime">
    <div class="container" >
        <form action="" class="form-horizontal"  role="form">
            <fieldset>

                <div class="form-group">

                    <div class="input-group date form_datetime col-md-3" style="float:left;" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1">
                        <input class="form-control" size="16" type="text" value="" ng-model="timestart" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>

                    <div >
                        <label for="dtp_input1" class="col-md-1 control-label" style="width:3.3333333333%;float:left;">到</label>
                    </div>

                    <div class="input-group date form_datetime col-md-3" style="float:left;"  data-date-format="yyyy-mm-dd" data-link-field="dtp_input1">
                        <input class="form-control" size="16" type="text" value="" ng-model="timeend" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>

                    <input type="hidden" id="dtp_input1" value="" /><br/>
                </div>

            </fieldset>
        </form>
    </div>
    </div>
        <script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    minView:2,

    });
</script>

    <div>
    <label>
        标签选择:
    </label>
    </div>
    <form>
    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"  name="labelselect" ng-value="true"  ng-model="selectoldlabel" ng-init="selectoldlabel=true" />
        已有标签:
        <select name="cars" style="height:25px;width:120px;"  ng-model="oldlabel" ng-disabled="!selectoldlabel">
            <option  >黄金概念</option>
            <option  >石油行业</option>
            <option  >银行业</option>
            <option  >保险行业</option>
        </select>
    </div><div style="padding-top:10px">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"  name="labelselect" ng-value="false"  ng-model="selectoldlabel"  />
        写入新标签:
        <input type="text" placeholder="label" style="width:500px;"  ng-model="newlabel" ng-disabled="selectoldlabel" />
    </div>
    </form>
    <div>
        <br />
        <label>
            写入数据库:&nbsp;&nbsp;
        </label>
        <input type="text" placeholder="dbname" style="width:500px;" ng-model="writedb">
    </div>

    <br />
    <div align="center">
        <button type="button" class="btn btn-default" ng-click="vm.run()">搜索</button>
    </div>
</div>


