<html>
<body >
<ul class="nav nav-tabs" >
    <li role="presentation" class="active" ><a ui-sref="dataLabel_train" >领域分类器训练</a></li>
    <li role="presentation" ><a ui-sref="dataLabel_admin">标签管理</a></li>

</ul>
<form class="form-horizontal" style="margin-top:20px">
    <div class="form-group" >
        <label  class="col-sm-2 control-label">选择训练标签:</label>
        <div class="col-sm-5">
            <select class="form-control" ng-model="train_label" ng-trim="true">
                <option data-ng-repeat="y in labels">{{y}}</option>
            </select>
        </div>
    </div>
    <div class="form-group" >
    <label  class="col-sm-2 control-label">选择训练方式:</label>
    <div class="col-sm-5">
        <select class="form-control" ng-model="train_all" ng-trim="true">
            <option value="true">重新提取特征并训练</option>
            <option value="false">保持原有特征进行增量训练</option>
        </select>
    </div>
    </div>
</form>



<div align="center">
    <button type="button" class="btn btn-primary " ng-click="submit()" >确定</button>
</div>

</body>
</html>
