<html>
<body >
<ul class="nav nav-tabs" >
    <li role="presentation" ><a ui-sref="dataLabel_train" >领域分类器训练</a></li>
    <li role="presentation" class="active"><a ui-sref="dataLabel_admin">标签管理</a></li>

</ul>

<div align="left" style="margin-top:20px">
    <button type="button" class="btn btn-primary " ng-click="get_label_tree()" >查看标签树</button>
</div>

<div ng-show="showtree">

</div>

<div class="radio" style="margin-bottom:20px">
    <label>
        <input type="radio" name="label" ng-value="'merge'" ng-model="labelcontrol" >
        标签汇聚
    </label>
    <div ng-show="labelcontrol=='merge'">
        <form class="form-horizontal">
            <div class="form-group">
                <label  class="col-sm-2 control-label">需要汇聚的标签数量:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="num" ng-model="merge_num" ng-trim="true">
                </div>
            </div>
            <div data-ng-repeat="x in range(merge_num) track by $index">
                <div class="form-group" >
                    <label  class="col-sm-2 control-label">标签{{$index}}:</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="{{$index}}" ng-trim="true">
                            <option data-ng-repeat="y in rootlabels">{{y}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">汇聚后的标签名称:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="name" ng-model="merge_label" ng-trim="true">
                </div>
            </div>
        </form>
    </div>

</div>
<div class="radio" style="margin-bottom:20px">
    <label>
        <input type="radio" name="label" ng-value="'change'" ng-model="labelcontrol" >
        标签迁移
    </label>
    <div ng-show="labelcontrol=='change'">
        <form class="form-horizontal">
            <div class="form-group">
                <label  class="col-sm-2 control-label">待迁移标签:</label>
                <div class="col-sm-5">
                    <select class="form-control" ng-model="change_label" ng-trim="true">
                        <option data-ng-repeat="y in labels">{{y}}</option>
                    </select>
                </div>
                <div style="padding-top:5px">
                    <label>
                        <input type="checkbox" ng-model="ischangeall"  > 迁移该标签下的所有子标签
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">目标标签:</label>
                <div class="col-sm-5">
                    <select class="form-control" ng-model="chenge_tlabel" ng-trim="true">
                        <option data-ng-repeat="y in labels">{{y}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="radio" style="margin-bottom:20px">
    <label>
        <input type="radio" name="label" ng-value="'del'" ng-model="labelcontrol"  >
        标签删除
    </label>
    <div ng-show="labelcontrol=='del'">
        <form class="form-horizontal">
            <div class="form-group">
                <label  class="col-sm-2 control-label">删除标签:</label>
                <div class="col-sm-5">
                    <select class="form-control" ng-model="del_label" ng-trim="true">
                        <option data-ng-repeat="y in labels">{{y}}</option>
                    </select>
                </div>
                <div style="padding-top:5px">
                    <label>
                        <input type="checkbox" ng-model="isdelall" > 删除该标签下的所有子标签
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>

<div align="center">
    <button type="button" class="btn btn-primary " ng-click="submit()" >确定</button>
</div>

</body>
</html>
