<div>
    <h2 data-translate="app.post.home.title">Posts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="post.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="app.post.home.createLabel">
                        Create new Post
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createDate"><span data-translate="app.post.createDate">Create Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="editDate"><span data-translate="app.post.editDate">Edit Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="authorName"><span data-translate="app.post.authorName">Author Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="app.post.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span data-translate="app.post.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="app.post.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isAbandon"><span data-translate="app.post.isAbandon">Is Abandon</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creator.id"><span data-translate="app.post.creator">Creator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="thread.id"><span data-translate="app.post.thread">Thread</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in vm.posts track by post.id">
                    <td><a ui-sref="post-detail({id:post.id})">{{post.id}}</a></td>
                    <td>{{post.createDate | date:'medium'}}</td>
                    <td>{{post.editDate | date:'medium'}}</td>
                    <td>{{post.authorName}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.content}}</td>
                    <td>{{post.state}}</td>
                    <td>{{post.isAbandon}}</td>
                    <td>
                        {{post.creator.id}}
                    </td>
                    <td>
                        <a ui-sref="thread-detail({id:post.thread.id})">{{post.thread.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="post-detail({id:post.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="post.edit({id:post.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="post.delete({id:post.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
