<div>
    <h2 data-translate="bsbmsoneApp.person.home.title">People</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="person.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bsbmsoneApp.person.home.createLabel">
                        Create new Person
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="bsbmsoneApp.person.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="bsbmsoneApp.person.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="themeUrl"><span data-translate="bsbmsoneApp.person.themeUrl">Theme Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="avatarUrl"><span data-translate="bsbmsoneApp.person.avatarUrl">Avatar Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="bsbmsoneApp.person.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sex"><span data-translate="bsbmsoneApp.person.sex">Sex</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone"><span data-translate="bsbmsoneApp.person.phone">Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="bsbmsoneApp.person.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="idCard"><span data-translate="bsbmsoneApp.person.idCard">Id Card</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="idGame"><span data-translate="bsbmsoneApp.person.idGame">Id Game</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.id"><span data-translate="bsbmsoneApp.person.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in vm.people track by person.id">
                    <td><a ui-sref="person-detail({id:person.id})">{{person.id}}</a></td>
                    <td>{{person.name}}</td>
                    <td>{{person.description}}</td>
                    <td>{{person.themeUrl}}</td>
                    <td>{{person.avatarUrl}}</td>
                    <td>{{person.type}}</td>
                    <td>{{person.sex}}</td>
                    <td>{{person.phone}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.idCard}}</td>
                    <td>{{person.idGame}}</td>
                    <td>
                        {{person.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="person-detail({id:person.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person.edit({id:person.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="person.delete({id:person.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
