<script src="bower_components/bootstrap-fileinput/js/fileinput.js"></script>
<script src="bower_components/bootstrap-ui-datetime-picker/dist/bootstrap-datetimepicker.js"></script>
<script src="bower_components/bootstrap-ui-datetime-picker/dist/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="bower_components/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<!--
<script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
-->

<div class="container-fluid">
<div class="row">
	<div class="row">
		<h3>电网文本任务配置</h3>
		<div class="btn-toolbar" role="toolbar" >
			<div class="btn-group" role="group">
				<button class="btn btn-default" data-toggle="modal" data-target="#create_task_modal">
					创建 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
				<button class="btn btn-default" ng-click="vm.get_all()">
					显示所有 <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
				</button>
			</div>
			<div class="btn-group" role="group">
				<button class="btn btn-default" data-toggle="modal" data-target="#search_TimeModal">
					按时间查询 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
				<button class="btn btn-default" data-toggle="modal" data-target="#search_NameModal">
					按名字查询 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			</div>
			<!-- 
			<div class="btn-group" role="group">
				<button class="btn btn-danger" ng-click="vm.delete_all()">删除所有</button>
			</div>
			-->
		</div>
		<table class="table">
					<thead>
						<tr>
						  <th>#</th>
						  <th>任务名</th>
						  <th>创建者</th>
						  <th>创建时间</th>
						  <th>任务类型</th>
						  <th>删除</th>
						  <th>配置</th>
						  <th>上传待提取文件</th>
						  <th>运行任务</th>
						  <th>下载提取结果文件</th>
						  <th>查看提取结果</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="task in vm.tasks">
						  <th>{{$index}}</th>
						  <th>{{task.taskname}}</th>
						  <th>{{task.username}}</th>
						  <th>{{task.createTime}}</th>
						  <th>{{task.type}}</th>
						  <th>
	    					<button class="btn btn-danger" ng-click="vm.delete_task($index)">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						  </th>
						  <th>
							  <button class="btn btn-default" ng-click="vm.edit_task($index)" data-toggle="modal" data-target="#edit_task_modal">
								   <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							  </button>
						  </th>
						  <th>
							  <button class="btn btn-default" ng-click="vm.file_upload(task.taskname)" data-toggle="modal" data-target="#myModal">
								   <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
							  </button>
						  </th>
			
						   <th>
	    					<button class="btn btn-default" ng-click="vm.run_task($index)">
								<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
							</button>
						  </th>
						  <th>
						  <a class="btn btn-default" ng-href="{{vm.task_result_urls[$index]}}" download="result.txt" ng-click="vm.download($index)">
								 <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
						  </a>
						  </th>
						  <th>
							<button class="btn btn-default" data-toggle="modal" data-target="#resultModal" ng-click="vm.getResult(task.taskname)">
								 <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
							</button>
							</th>
						</tr>
					</tbody>
		</table>	  

		
	</div>
	
		
</div>
</div>

<form>
    <div class="modal fade" id="myModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">请选择文件</h4>
                </div>
                <div class="modal-body">
                    <input type="file" name="file" id="txt_file" multiple class="file-loading" />
                </div></div>
        </div>
    </div>
</form>

<div class="modal fade" id="create_task_modal" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h3 class="modal-title" id="myModalLabel">创建任务</h3>
			</div>
			<div class="modal-body">
				<div class="input-group">
					<label class="control-label">任务名</label>
					<input type="text" ng-model="vm.c_taskname">
					<label class="coltrol-label">选择任务类型: </label>
					<select  ng-model="vm.c_tasktype">
						<option>线路</option>
						<option>开关</option>
						<option>继电器</option>
						<option>其他</option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.create_task()">创建</button>
			</div>
		</div>
	</div>
</div>  

<div class="modal fade" id="edit_task_modal" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h3 class="modal-title" id="myModalLabel">任务配置</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<label class="col-lg-4">任务名:{{vm.cur_task.taskname}}</label>
					<label class="col-lg-4">创建者:{{vm.cur_task.username}}</label>
					<label class="col-lg-4">创建时间:{{vm.cur_task.createTime}}</label>
				</div>
    			<hr />
				<form class="form-inline">
					<label class="form-label">改变任务类型</label>
					<select  class="form-control" ng-model="vm.cur_task.type" ng-change="vm.changeTaskType()">
							<option>线路</option>
							<option>开关</option>
							<option>继电器</option>
							<option>其他</option>
					</select>
					<button class="btn btn-danger" ng-click="vm.deleteFileList(vm.cur_task.taskname)" >删除所有文件</button>
				</form>
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>文件名</th>
							<th>删除</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="file in vm.filelist">
							<th>{{$index}}</th>
							<th>{{file}}</th>
							<th>
								<button class="btn btn-danger" ng-click="vm.delete_task_file(vm.cur_task.taskname,file)">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</th>
						</tr>

					</tbody>
				</table>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">close</button>
				
			</div>
		</div>
	</div>
</div>  


 <div class="modal fade" id="search_NameModal" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">根据任务名搜索</h4>
			</div>
			<div class="modal-body">
				<label>任务名</label>
				<input type="text" ng-model="vm.s_taskname">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.searchByName()">查询</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="search_TimeModal" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">根据任务创建时间搜索</h4>
			</div>
			<div class="modal-body">
				<label>起始时间</label>
				<input type="text" value="2018-01-01" id="datetimepicker1" data-date-format="yyyy-mm-dd" ng-model="vm.beginTime">
				<label>结束时间时间</label>
				<input type="text" value="2018-12-12" id="datetimepicker2" data-date-format="yyyy-mm-dd" ng-model="vm.endTime">
			</div>
			 <script type="text/javascript">
				$(function () {
					$('#datetimepicker1').datetimepicker({
						language: 'zh-CN',
						minView: "month",//设置只显示到月份
						initialDate: new Date(),//初始化当前日期
						autoclose: true,//选中自动关闭
						todayBtn: true//显示今日按钮
					});
					$('#datetimepicker2').datetimepicker({
						language: 'zh-CN',
						minView: "month",//设置只显示到月份
						initialDate: new Date(),//初始化当前日期
						autoclose: true,//选中自动关闭
						todayBtn: true//显示今日按钮
					});
				});
			</script>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.searchByTime()">查询</button>
			</div>
		</div>
		
	</div>
</div>


 <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" >
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">提取结果</h4>
			</div>
			<div class="modal-body">
					<table id="table"
						data-search="true"
						data-show-toggle="true"
						data-show-columns="true"
						data-show-export="true"
						data-minimum-count-columns="2"
						data-pagination="true"
						data-page-list="[1, 5, 10, 20, ALL]"
					>
						<thead>
						<tr>
							<th data-field="{{col_name}}" ng-repeat="col_name in vm.column_names">{{col_name}}</th>
						</tr>
						</thead>
					</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">关闭</button>
			</div>
		</div>
	</div>
</div>



