<div class="menuWraper">
    <div class="index">
        <div class="title">新闻</div>
        <a ng-click="vm.selectedTab = 'manageArticle'"><div class="item glyphicon glyphicon-th-list">新闻列表</div></a>
        <a ng-click="vm.selectedTab = 'postArticle'; vm.clearArticleData()"><div class="item  glyphicon glyphicon-pencil">写新闻</div></a>
    </div>
    <div class="video">
        <div class="title">视频</div>
        <a ng-click="vm.selectedTab = 'manageVideo';vm.selectedVideoTag = null"><div class="item glyphicon glyphicon-facetime-video">管理视频</div></a>
        <a ng-click="vm.selectedTab = 'postVideo'; vm.clearVideoData()"><div class="item glyphicon glyphicon-facetime-video">添加视频</div></a>
        <div class="title"><h5>分类/标签</h5></div>
        <div ng-repeat="tag in vm.tags">
            <div class="item">
                <span ng-click="vm.selectedTab = 'manageVideo';vm.selectedVideoTag = tag">{{tag.name}}</span>
                <img class="pull-right" src="/content/images/dashboard/trash.png" ng-click="vm.deleteTag(tag)">
            </div>
        </div>
        <a ng-click="vm.selectedTab = 'addVideoTag'"><div class="item">+ 分类</div></a>
    </div>
    <div class="forum">
        <div class="title">论坛</div>
        <a ng-click="vm.selectedTab = 'manageCommunicateSection'"><div class="item glyphicon glyphicon-king">交流互动专区</div></a>
        <a ng-click="vm.selectedTab = 'manageGameMatchSection'"><div class="item glyphicon glyphicon-queen">参赛配队专区</div></a>
        <a ng-click="vm.selectedTab = 'manageComplaintSection'"><div class="item glyphicon glyphicon-pawn">赛事投诉及举报专区</div></a>
    </div>
    <div class="registerInfo">
        <div class="title">报名信息</div>
        <a ng-click="vm.selectedTab = 'managePlayerInfo'"><div class="item glyphicon glyphicon-equalizer">选手列表</div></a>
    </div>
    <div class="group">
        <div class="title">分组信息</div>
        <a ng-click="vm.selectedTab = 'managePlayerGroup'"><div class="item glyphicon glyphicon-equalizer">R分组</div></a>
    </div>
</div>
