<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 col-md-4 ">
			<h3>Input source</h3>	
			 <div class="panel-heading">
                   <button class="btn btn-primary" data-toggle="modal" data-target="#i-Modal" >create db connnection</button>
             </div>				
							
			<div class="form-group row">
				<label class="coltrol-label">table: </label>
				 <select style="width:120px;height: 30px;margin-bottom: 10px;" ng-model="vm.i_table">
            		<option ng-repeat="item in vm.i_tables">{{item}}</option>
        		</select>
			</div>
			
			<div class="form-group row" >
				<div class="col-lg-6">
					<label class="coltrol-label">columns:</label>
					<div ng-repeat="item in vm.i_columns" >	
						<div>
		       				<input  type="checkbox" name="{{item}}" ng-checked="vm.isSelected('i',item)" ng-click="vm.updateSelection($event,'i',item)">
							{{item}}
						</div>		
					</div>
				</div>
			</div>
			
	
		</div>
		
		<div class="col-lg-4 col-md-4">
			<h3>Transforms</h3>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#t1-Modal" >substr</button>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#t2-Modal" >pad</button>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#t3-Modal" >replace</button>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#t4-Modal" >fliter</button>
				<button type="button" class="btn btn-danger" data-toggle="modal" ng-click="vm.rmTransItem()" >RemoveAll</button>
			</div>
			
			<h4>transform items：</h4>
			<table class="table">
				<thead>
					<tr>
					  <th>#</th>
					  <th>name</th>
					  <th>column</th>
					  <th>p1</th>
					  <th>p2</th>
					  <th>p3</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.transformItems">
					  <th>{{$index}}</th>
					  <th>{{item.name}}</th>
					  <th>{{vm.i_selected_list[item.columnIndex]}}</th>
					  <th ng-repeat="para in item.paras  track by $index">{{para}}</th>
					</tr>
				</tbody>
			</table>
		
		</div>
		
		<div class="col-lg-4 col-md-4">
			<h3>Output source</h3>
			 <div class="panel-heading">
                   <button class="btn btn-primary" data-toggle="modal" data-target="#o-Modal" >create db connnection</button>
             </div>	
             <div class="form-group row">
				<label class="coltrol-label">table</label>
				 <select style="width:120px;height: 30px;margin-bottom: 10px;" ng-model="vm.o_table">
            		<option ng-repeat="item in vm.o_tables">{{item}}</option>
        		</select>
			</div>
			
			<div class="form-group row">
				<div class="col-lg-4">
					<h5>columns</h5>
					<div ng-repeat="item in vm.o_columns" >	
						<div>
		       				<input  type="checkbox" name="{{item}}" ng-checked="vm.isSelected('o',item)" ng-click="vm.updateSelection($event,'o',item)">
							{{item}}
						</div>		
					</div>	
				</div>
				<div class="col-lg-4 ">
					<h5>input_columns</h5>
					<ul class="list-group"  >
						<li class="list-group-item" ng-repeat="item in vm.i_selected_list">{{item}}</li>
					</ul>
					
				</div>
				<div class="col-lg-4">
					<h5>output_columns</h5>
					<ul class="list-group"  >
						<li class="list-group-item" ng-repeat="item in vm.o_selected_list">{{item}}</li>
					</ul>
				</div>
			</div>
		
		</div>
	
	</div> <!-- end of row -->
	<div>
		<button class="btn btn-primary" ng-model="vm.runable" ng-disabled="!vm.runable" ng-click="vm.runJob()" >run</button>
	</div>
	
	
	<div class="modal fade" id="i-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">input database setting</h3>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label" >dbType:</label>
                            <select style="width:120px;height: 30px;margin-bottom: 10px;" ng-model="vm.i_dbType">
					          <option >mysql</option>
						      <option >oracle</option>
						      <option >sqlserver</option>
						      <option >postsql</option>
					         </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">ip:</label>
                            <input type="text" class="form-control" style="width: 70%"  ng-model="vm.i_ip">
                        </div>
                        <div class="form-group">
                            <label class="control-label" >port:</label>
                            <input type="text" class="form-control" style="width: 70%" ng-model="vm.i_port">
                        </div>
                        <div class="form-group">
                            <label class="control-label" >database:</label>
                            <input type="text" class="form-control" style="width: 70%" ng-model="vm.i_database">
                        </div>
                        <div class="form-group">
                            <label class="control-label" >username:</label>
                            <input type="text" class="form-control" style="width: 70%" ng-model="vm.i_username">
                        </div>
                        <div class="form-group">
                            <label class="control-label" >password:</label>
                            <input type="text" class="form-control" style="width: 70%" ng-model="vm.i_password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="vm.i_createDBConn()">create</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="o-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">database setting</h3>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label" >dbType:</label>
                            <select style="width:120px;height: 30px;margin-bottom: 10px;" ng-model="vm.o_dbType">
						          <option >mysql</option>
							      <option >oracle</option>
							      <option >sqlserver</option>
							      <option >postsql</option>
					        </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">ip:</label>
                            <input type="text" class="form-control" style="width: 70%"  ng-model="vm.o_ip">
                        </div>
                        <div class="form-group">
                            <label class="control-label" >port:</label>
                            <input type="text" class="form-control" style="width: 70%" ng-model="vm.o_port">
                        </div>
                         <div class="form-group">
                            <label class="control-label" >database:</label>
                            <input type="text" class="form-control" style="width: 70%" ng-model="vm.o_database">
                        </div>
                        <div class="form-group">
                            <label class="control-label" >username:</label>
                            <input type="text" class="form-control" style="width: 70%" ng-model="vm.o_username">
                        </div>
                        <div class="form-group">
                            <label class="control-label" >password:</label>
                            <input type="text" class="form-control" style="width: 70%" ng-model="vm.o_password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="vm.o_createDBConn()">create</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="t1-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		                <h3 class="modal-title" id="myModalLabel">dx_substr</h3>
		            </div>
		            <div class="modal-body">
		                    <div class="row">
		                    	<label class="col-lg-6">字段编号</label>
		                    	<input type="number" min="0" max="vm.i_selected_list.length" ng-model="vm.t1_columnIndex">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">字段开始位置</label>
		                    	<input type="number"  ng-model="vm.t1_begin">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">字段结束位置</label>
		                    	<input type="number" ng-model="vm.t1_end">
		                    </div>
		                </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-primary" ng-click="vm.createT1()">create</button>
	            </div>
	            </div>
	        </div>
		</div>        
        
        <div class="modal fade" id="t2-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		                <h3 class="modal-title" id="myModalLabel">dx_pad</h3>
		            </div>
		            <div class="modal-body">
		                    <div class="row">
		                    	<label class="col-lg-6">字段编号</label>
		                    	<input type="number" min="0" max="vm.i_selected_list.length" ng-model="vm.t2_columnIndex">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">选择从左还是从右</label>
	                    	    <select   ng-model="vm.t2_lr">
					              <option >l</option>
						          <option >r</option>
						        </select>
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">目标字段长度</label>
		                    	<input type="number" ng-model="vm.t2_len">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">需要pad的字符</label>
		                    	<input type="text" ng-model="vm.t2_char">
		                    </div>
		                </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-primary" ng-click="vm.createT2()">create</button>
	            </div>
	            </div>
	        </div>
		</div>   
        
    
    <div class="modal fade" id="t3-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		                <h3 class="modal-title" id="myModalLabel">dx_replace</h3>
		            </div>
		            <div class="modal-body">
		                    <div class="row">
		                    	<label class="col-lg-6">字段编号</label>
		                    	<input type="number" min="0" max="vm.i_selected_list.length" ng-model="vm.t3_columnIndex">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6" >字段开始位置</label>
		                    	<input type="number" ng-model="vm.t3_begin">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">需要替换的字段长度</label>
		                    	<input type="number" ng-model="vm.t3_len">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">需要替换的字符串</label>
		                    	<input type="text" ng-model="vm.t3_char">
		                    </div>
		                </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-primary" ng-click="vm.createT3()">create</button>
	            </div>
	            </div>
	        </div>
		</div>  
		
	<div class="modal fade" id="t4-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
	                <h3 class="modal-title" id="myModalLabel">dx_fliter</h3>
	            </div>
	            <div class="modal-body">
	                    <div class="row">
	                    	<label class="col-lg-6">字段编号</label>
	                    	<input type="number" min="0" max="vm.i_selected_list.length" ng-model="vm.t4_columnIndex">
	                    </div>
	                    <div class="row">
	                    	<label class="col-lg-6" ng-model="vm.t1_begin">字段开始位置</label>
	                    	<select   ng-model="vm.t4_operator">
				              <option >like</option>
					          <option >not like</option>
					          <option >></option>
					          <option >=</option>
					          <option >></option>
					          <option ><</option>
					          <option >>=</option>
					          <option >!=</option>
					          <option ><=</option>
						    </select>
	                    </div>
	                    <div class="row">
	                    	<label class="col-lg-6">正则表达式、值</label>
	                    	<input type="text" ng-model="vm.t4_value">
	                    </div>
	                </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary" ng-click="vm.createT4()">create</button>
            </div>
            </div>
        </div>
</div>  
	
    
    
</div>

 	
		

