<script src="bower_components/bootstrap-fileinput/js/fileinput.js"></script>

<div class="container-fluid">
<div class="row">
	<div class="col-lg-4 col-md-4 ">
		<h3>输入文本配置</h3>	
		<div class="row">
			<div class='col-lg-4 col-md-4 col-sm-4'>
				<label>分隔符:</label>
				<label >,</label>
			</div>
			<div class='col-lg-4 col-md-4 col-sm-4'>
				<label>跳过表头</label>
				<input type="checkbox"  ng-click="vm.updateSkipHeader($event)">
			</div>
			<div class='col-lg-4 col-md-4 col-sm-4'>
				<label>编码:</label>
				<label >UTF-8</label>
			</div>
		</div>
    <button class="btn btn-primary" ng-click="vm.dataFileUpload()" data-toggle="modal" data-target="#myModal">上传txt文件</button>

	<table class="table">
				<thead>
					<tr>
					  <th>列号</th>
					  <th>例子</th>
					  <th>是否选择</th>
					  <th>列类型</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="col in vm.columns">
					  <th>{{$index}}</th>
					  <th>{{col}}</th>
					  <th>
					     <input type="checkbox"  ng-click="vm.updateSelection($event,$index)">
					  </th>
					  <th>
					    <select  ng-model="type" ng-change="vm.updateType($index,type)">
					          <option>long</option>
					          <option>boolean</option>
					          <option>double</option>
					          <option>string</option>
					          <option>date</option>
						     
					     </select>
					  </th>
					</tr>
				</tbody>
	</table>	  

		
	</div>
	
	<div class="col-lg-4 col-md-4 ">
		<h3>输出文本获取</h3>	
		<button type="button" class="btn btn-primary"  ng-click="vm.run()">开始转换</button>
		<div>
			<label>下载输出文本:</label>
			<a ng-href="{{fileUrl}}" download="result.txt" ng-click="vm.download()">download</a>
		</div>
	</div>
		
	<div class="col-lg-4 col-md-4">
			<h3>数据转换配置</h3>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#t1-Modal" >substr</button>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#t2-Modal" >pad</button>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#t3-Modal" >replace</button>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#t4-Modal" >fliter</button>
				<button type="button" class="btn btn-danger" data-toggle="modal" ng-click="vm.rmTransItem()" >RemoveAll</button>
			</div>
			
			<h5>已添加的转换</h5>
			<table class="table">
				<thead>
					<tr>
					  <th>#</th>
					  <th>转换类型</th>
					  <th>对应的列</th>
					  <th>参数1</th>
					  <th>参数2</th>
					  <th>参数3</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.transformItems">
					  <th>{{$index}}</th>
					  <th>{{item.name}}</th>
					  <th>{{item.columnIndex}}</th>
					  <th ng-repeat="para in item.paras  track by $index">{{para}}</th>
					</tr>
				</tbody>
			</table>
		
	</div>
	
	
	
	
</div>
</div>

<form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">请选择文件</h4>
                </div>
                <div class="modal-body">
                    <input type="file" name="file" id="txt_file" multiple class="file-loading" />
                </div></div>
        </div>
    </div>
</form>

    <div class="modal fade" id="t1-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		                <h3 class="modal-title" id="myModalLabel">提取子串</h3>
		            </div>
		            <div class="modal-body">
		                    <div class="row">
		                    	<label class="col-lg-6">字段编号</label>
		                    	<input type="number" min="0" max="vm.i_selected_list.length" ng-model="vm.t1_columnIndex">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">字段开始位置</label>
		                    	<input type="number"  ng-model="vm.t1_begin">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">字段结束位置</label>
		                    	<input type="number" ng-model="vm.t1_end">
		                    </div>
		                </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-primary" ng-click="vm.createT1()">create</button>
	            </div>
	            </div>
	        </div>
		</div>        
        
        <div class="modal fade" id="t2-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		                <h3 class="modal-title" id="myModalLabel">添加重复字符</h3>
		            </div>
		            <div class="modal-body">
		                    <div class="row">
		                    	<label class="col-lg-6">字段编号</label>
		                    	<input type="number" min="0" max="vm.i_selected_list.length" ng-model="vm.t2_columnIndex">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">选择从左还是从右</label>
	                    	    <select   ng-model="vm.t2_lr">
					              <option >l</option>
						          <option >r</option>
						        </select>
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">目标字段长度</label>
		                    	<input type="number" ng-model="vm.t2_len">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">需要pad的字符</label>
		                    	<input type="text" ng-model="vm.t2_char">
		                    </div>
		                </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-primary" ng-click="vm.createT2()">create</button>
	            </div>
	            </div>
	        </div>
		</div>   
        
    
    <div class="modal fade" id="t3-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
		                <h3 class="modal-title" id="myModalLabel">替换字符串</h3>
		            </div>
		            <div class="modal-body">
		                    <div class="row">
		                    	<label class="col-lg-6">字段编号</label>
		                    	<input type="number" min="0" max="vm.i_selected_list.length" ng-model="vm.t3_columnIndex">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6" >字段开始位置</label>
		                    	<input type="number" ng-model="vm.t3_begin">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">需要替换的字段长度</label>
		                    	<input type="number" ng-model="vm.t3_len">
		                    </div>
		                    <div class="row">
		                    	<label class="col-lg-6">需要替换的字符串</label>
		                    	<input type="text" ng-model="vm.t3_char">
		                    </div>
		                </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-primary" ng-click="vm.createT3()">create</button>
	            </div>
	            </div>
	        </div>
		</div>  
		
	<div class="modal fade" id="t4-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
	                <h3 class="modal-title" id="myModalLabel">过滤操作</h3>
	            </div>
	            <div class="modal-body">
	                    <div class="row">
	                    	<label class="col-lg-6">字段编号</label>
	                    	<input type="number" min="0" max="vm.i_selected_list.length" ng-model="vm.t4_columnIndex">
	                    </div>
	                    <div class="row">
	                    	<label class="col-lg-6" ng-model="vm.t1_begin">字段操作</label>
	                    	<select   ng-model="vm.t4_operator">
				              <option >like</option>
					          <option >not like</option>
					          <option >></option>
					          <option >=</option>
					          <option >></option>
					          <option ><</option>
					          <option >>=</option>
					          <option >!=</option>
					          <option ><=</option>
						    </select>
	                    </div>
	                    <div class="row">
	                    	<label class="col-lg-6">正则表达式、值</label>
	                    	<input type="text" ng-model="vm.t4_value">
	                    </div>
	                </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary" ng-click="vm.createT4()">create</button>
	                
            </div>
            </div>
        </div>
</div>  
