.img-container {
    max-width: 800px;
    float: left;
}

.preview-container {
    float: right;
}

.preview-container img {
    max-width: 400px;
}

.info-edit-img {
    text-align: center;
    width: 200px;
}

.info-edit-img img {
    width: 100%;
    height: 200px;
}

.info-edit-img a {
    color: #eee;
    display: block;
    font-size: 15px;
    width: 100%;
    padding: 2px;
    text-decoration: none;
    background-color: #272a33;
}

.info-edit-img a:hover {
    background-color: #444444;
}

.col-info-edit-img{
    vertical-align:top;
    display: inline-block;
    float: none;
    margin-left: 20px
}

.col-preview-container{
    display: inline-block;
    float: none;
    margin-left: 50px;
}
