
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myThreadLabel" data-translate="app.thread.home.createOrEditLabel">Create or edit a Thread</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.thread.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.thread.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.thread.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.thread.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.thread.authorName" for="field_authorName">Author Name</label>
            <input type="text" class="form-control" name="authorName" id="field_authorName"
                    ng-model="vm.thread.authorName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.thread.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.thread.title"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.thread.content" for="field_content">Content</label>
                <textarea class="form-control" name="content" id="field_content"
                    ng-model="vm.thread.content" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.thread.viewNum" for="field_viewNum">View Num</label>
            <input type="number" class="form-control" name="viewNum" id="field_viewNum"
                    ng-model="vm.thread.viewNum"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.thread.postNum" for="field_postNum">Post Num</label>
            <input type="number" class="form-control" name="postNum" id="field_postNum"
                    ng-model="vm.thread.postNum"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.thread.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" datetime-picker="{{dateformat}}" ng-model="vm.thread.createDate" is-open="vm.datePickerOpenStatus.createDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.thread.editDate" for="field_editDate">Edit Date</label>
                <div class="input-group">
                    <input id="field_editDate" type="text" class="form-control" name="editDate" datetime-picker="{{dateformat}}" ng-model="vm.thread.editDate" is-open="vm.datePickerOpenStatus.editDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('editDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.thread.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="vm.thread.state"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="app.thread.isAbandon" for="field_isAbandon">Is Abandon</label>
            <input type="checkbox" class="form-control" name="isAbandon" id="field_isAbandon"
                    ng-model="vm.thread.isAbandon"
                    />
        </div>

        <div class="form-group">
            <label data-translate="app.thread.forum" for="field_forum">Forum</label>
            <select class="form-control" id="field_forum" name="forum" ng-model="vm.thread.forum" ng-options="forum as forum.id for forum in vm.forums track by forum.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="app.thread.creator" for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" ng-model="vm.thread.creator" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
