<div class="container-fluid">
    <!--<topnavigation></topnavigation>-->
    <!--<sidenavigation></sidenavigation>-->
    <div class="row" ng-controller="DefectTransformerController_t" ng-init="getDefectTransformers(null)">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 main">
            <h1 class="maintitle">主变缺陷</h1>
            <hr>
            <a class="btn btn-primary" href="index.html#/defect-transformers-chart">
                <i class="icon-bar-chart"></i> 数据图示</a>
            <a class="btn btn-primary active" href="index.html#/defect-transformers-table">
                <i class="icon-list"></i> 数据详情</a>
            <br>
            <br>
            <br>
        </div>
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 main">
            <hr/>
            <div class="form-group">
                <label for="searchDefectTransformer" class="control-label">查询：</label>
                <input type="text" class="" id="searchDefectTransformer" ng-model="searchDefectTransformer" placeholder="输入要查询的内容">
                <select style="height:27px" ng-model="searchType">
                    <option>请选择</option>
                    <option>设备ID</option>
                    <option>缺陷性质</option>
                </select>
                <button type="button" class="btn btn-primary" style="height:30px" ng-click="search()">查询</button>
            </div>
            <!--  <div class="form-group">
                <label for="searchDefectTransformer" class="control-label">设备ID：</label>
                <input type="text" class="" id="searchDefectTransformer" ng-model="searchDefectTransformer" placeholder="输入要查询设备ID">
                <button type="button" class="btn btn-primary" style="height:30px">查询</button>
            </div> -->
             <div class="row">
                <div class="form-group pull-left col-md-3">
                    <label class="control-label pull-left">
                        起始时间:
                    </label>
                    <div class=" pull-left data-time-start">
                        <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="">
                            <div class="input-group">
                                <input type="text" class="form-control" style="height:30px" ng-model="searchDefectTransDateStart" >
                                <span class="input-group-addon">
                               <i class="glyphicon glyphicon-calendar"></i>
                           </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu drop-time-picker" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="searchDefectTransDateStart" data-on-set-time="onTimeSetStart(newDate, oldDate)"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"/>
                        </ul>
                    </div>
                </div>
                <div class="form-group pull-left col-md-3">
                    <label class="control-label pull-left">
                        终止时间:
                    </label>
                    <div class=" pull-left data-time-start">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="">
                            <div class="input-group">
                                <input type="text" class="form-control" style="height:30px" ng-model="searchDefectTransDateEnd" >
                                <span class="input-group-addon">
                               <i class="glyphicon glyphicon-calendar"></i>
                           </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu drop-time-picker" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="searchDefectTransDateEnd" data-on-set-time="onTimeSetEnd(newDate, oldDate)"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="hovertable">
                    <thead>
                        <tr>
                            <th>设别ID</th>
                            <th width="130px">发生时间</th>
                            <th width="100px">部位</th>
                            <th>分类依据</th>
                            <th>缺陷性质</th>
                            <th>设备种类</th>
                            <th>缺陷内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="defectTransformer in defectTransformersShow" onmouseover="this.style.backgroundColor='#ffffff';" onmouseout="this.style.backgroundColor='#cdd9f0';">
                            <td>{{defectTransformer.device_id}}</td>
                            <td>{{defectTransformer.time}}</td>
                            <td>{{defectTransformer.place}}</td>
                            <td>{{defectTransformer.class}}</td>
                            <td>{{defectTransformer.level | replaceCode}}</td>
                            <td>{{defectTransformer.device_type}}</td>
                            <td>{{defectTransformer.content}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <tm-pagination conf="DefectTransformersPaginationConf"></tm-pagination>
        </div>
    </div>
</div>
