/*home.css*/

.register-img {
    position: fixed;
    top: -81px;
    left: -160px;
}

.register-img-2 {
    position: relative;
    top: 43px;
    left: -161px;
}

.nav-item {
    /*background: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);*/
    /*background-size: 8px 8px;*/
    background-image: url("/content/images/home/navbar-bg.jpg");
}

.nav-item.home {
    width: 72px;
}

.navbar-collapse span {
    color: #ec9f24;
}

/* 暂定宽，不做适配*/
.container {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
}

/*首页最上面的小导航，包含注册登录*/
.new-header {
    /*z-index: 999;*/
    /*opacity: .8;*/
    margin-bottom: 0;
    /*height: 500px;*/
    /*background-color: #88dc72;*/
    border-radius: 0;
}

.nav-background-pic {
    height: 608px;
    min-width: 1200px;
    background-image: url(/content/images/home/home1st.jpg);
    background-position: center;
    /*background-repeat: no-repeat;*/
    /*background-size: 1000px 1000px;*/
    /*background-position-x: center;*/
    background-color: #0d0d0d;
    margin-top: -52px;
}

.home-top-nav {
    /*opacity: .5;*/
}

/*首页第一大栏目（新闻）*/
.home-maikelei {
    position: relative;
    top: -476px;
    right: -260px;
    z-index: 1;
}

.home-news {
    background-image: url(/content/images/home/bj1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 608px;
}

.home-news-content {
    width: 1200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.tab-content {
    background: none;
}

.tab-content-pic {
    margin-left: -10px;
    width: 648px;
    height: 360px;
    border-radius: 20px;
    border: 8px solid #ec9f24;
    background-color: #0a0a0a;
    /*background-image: url(/content/images/home/bj3.jpg);*/
}

/*.tab-content-text {*/
    /*text-align: center;*/
    /*width: 600px;*/
    /*height: 58px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*background-color: #1f1f1f;*/
/*}*/
.tab-content-text {
    opacity: .8;
    text-align: center;
    width: 555px;
    height: 58px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    border-radius: 0 0 10px 10px;
    background-color: #1f1f1f;
    transform: perspective(17px) rotateX(-2deg);
}
/*.tab-content-text {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*padding: .5em 1em .35em;*/
    /*color: white;*/
/*}*/
/*.tab-content-text::before {*/
    /*content: ''; !* To generate the box *!*/
    /*position: absolute;*/
    /*top: 0; right: 0; bottom: 0; left: 0;*/
    /*z-index: -1;*/
    /*background: #58a;*/
    /*transform: perspective(.5em) rotateX(5deg);*/
/*}*/

.tab-content-text-span {
    position: relative;
    bottom: 60px;
    left: 210px;
    height: 58px;
    line-height: 58px;
    font-size: 18px;
    color: #8b8c8e;
}

.home-news-content .tab-title-logo {
    left: 22px;
}

.home-news-content .tab-title-content {
    margin-left: 22px;
}

/*首页第二大栏目（赛事积分）*/
.home-shibing76 {
    position: relative;
    top: -595px;
    left: -314px;
    z-index: 1;
}

.home-score {
    background-position: center;
    background-image: url(/content/images/home/bigowlogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100%; */
    height: 820px;
}

/**/
.home-score-border {
    border: 10px solid #ffb84c;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    position: relative;
    z-index: 2;
    /*background-image: url(/content/images/home/bigowlogo.jpg);*/
    /*background-position: center;*/
    background-color: rgba(255,255,255,.5);
}

/*积分表格上面的分组选择框*/
.home-score-header {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    width: 960px;
    height: 60px;
    opacity: 1;
    background-color: #3f4955;
}

.home-score-header-tag-wrap {
    display: flex;
}

.home-score-header-tag {
    line-height: 50px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    height: 50px;
    width: 80px;
    /*background: #ff9b00;*/
    position: relative;
    border-radius: 10px 10px 0 0;
    left: 40px;
}

.home-score-header-tag:hover {
    /*background: rgba(200, 200, 200, .5)*/
    color: #fff;
}

.home-score-header-tag.active {
    background: #f6f6f6;
    color: #ffb84c;
}

/*积分表格外面的div*/
.home-score-content {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 960px;
    height: 550px;
    opacity: .8;
    /*background-image: url(/content/images/home/bigowlogo.jpg);*/
    /*background-color: #585858;*/
}

.home-score-table {
    z-index: 10;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: none;
}

.home-score-table tr {
     height: 60px;
 }

.home-score-table tr td {
    line-height: 40px !important;
}

.home-score-table th {
    text-align: center;
    /*background-color: #f6f6f6;*/
    color: black;
    line-height: 50px !important;
    height: 60px;
    border-top: 1px solid #f6f6f6 !important;
    border-left: 2px solid #c9c9cb !important;;
    border-right: 2px solid #c9c9cb !important;;
    /*border: none;*/
}

.home-score-table td {
    text-align: center;
    /*background-color: #f6f6f6;*/
    color: blue;
    border: 2px solid #c9c9cb !important;
    /*border: none;*/
}

/*首页第三大栏目（赛事对阵）*/
.home-bracket {
    background-image: url(/content/images/home/bj3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /*background-image: url("/content/images/home/navbar-bg.jpg");*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
    height: 780px;
}

.home-bracket-content {
    display: flex;
    height: 680px;
    width: 1200px;
    background-size: 1215px 650px;
    background-position: -8px 30px;
    background-repeat: no-repeat;
    background-image: url(/content/images/home/home-bracket-border.png);
    /*border: 10px solid #ec9f24;*/
}

.home-bracket-all-wrap {
    margin-top: 100px;
    display: flex;
}

.home-bracket .tab-title-logo {
    background-color: #ff9b00;
}

.home-bracket .tab-title-content {
    color: #ff9b00;
}

.home-bracket-tag-wrap {
    height: 550px;
    margin: 10px 0 0 13px;
}

.home-bracket-tag-trapezoid {
    color: #ff9b00;
    height: 45px;
    text-align: center;
    margin: 10px 0;
    line-height: 48px;
    width: 140px;
    display: flex;
    overflow: hidden;
}

.home-bracket-tag {
    transform: skew(-15deg,0);
    width: 84px;
    border-radius: 0 5px 5px 0;
    margin-left: -10px;
    background-color: #fff;
    transition:width .5s;
}

.home-bracket-tag:hover {
    /*background: rgba(136, 136, 136, .5);*/
}

.home-bracket-tag.active {
    background-color: orange;
    transform: skew(-15deg,0);
    width: 144px;
    margin-left: -10px;
}

.home-bracket-round {

}

.home-bracket-round-wrap {
    height: 560px;
    width: 120px;
    background-color: #333;
}

.home-bracket-wrap {
    width: 1040px;
    height: 560px;
    /*background-color: #272a33;*/
}

/*首页第四大栏目（赛事视频）*/
.home-video {
    background-image: url(/content/images/home/bj4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: #191919; */
    min-height: 540px;
}

.home-video-content {
    color: #fff;
}

.row2nd {
    /*margin-top: 35px;*/
}

.home-video-1 {
    height: 200px;
    /*background: #888;*/
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.home-video-2 {
    height: 200px;
    /*background: #888;*/
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.home-video-3 {
    height: 200px;
    /*background: #888;*/
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.home-video-4 {
    height: 200px;
    /*background: #888;*/
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;

}
.home-video-5 {
    height: 200px;
    /*background: #888;*/
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.home-video-6 {
    height: 200px;
    /*background: #888;*/
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.home-video-7 {
    height: 200px;
    /*background: #888;*/
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.home-video-8 {
    height: 200px;
    /*background: #888;*/
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.home-video-video {
    height: 160px;
    background-color: #9E9E9E;
    border-radius: 5px;
    border: 3px solid #555;
}

.home-video-video:hover .home-video-link {
    text-align: center;
    position: absolute;
    width: 264px;
    height: 154px;
    line-height: 154px;
    display: inherit;
    background-color: rgba(20,20,20,0.8);
    opacity: .8;
    z-index: 20;
}
.home-video-video:hover .home-video-text {
    /*display: none;*/
}

.home-video-link {
    display: none;
}

.home-video-link img {

}

.home-video-text {
    line-height: 40px;
    font-size: 16px;
    position: relative;
    top: 114px;
    background-color: #777;
    text-align: center;
    border-radius: 0 0 1px 1px;
    z-index: 19;
}





/*footer*/
.footer {
    color: white;
    font-size: 16px;
    background-color: #141414;
    height: 200px;
    min-width: 1200px;
    text-align: center;
    line-height: 200px;
}
