<div class="post-wraper">
    <h1 class="header-title">添加视频</h1>
    <form class="form-inline postArticle-form">
        <div class="form-group">
            <div class="form-title">
                <h4>请输入视频标题：</h4>
                <input type="text" class="form-control title-input" ng-model="vm.video.name"  placeholder="请输入视频标题">
            </div>
            <div class="form-title">
                <h4>请输入视频简介(最多150个字)：</h4>
                <input type="text" class="form-control" ng-model="vm.video.introduction" placeholder="请输入视频简介(最多150个字)">
            </div>
            <div class="form-title">
               <h4>请输入视频URL:</h4>
               <input ng-model="vm.video.url" placeholder="请输入视频URL" class="form-control">
            </div>
            <div>
                <h4 class="upload-p">上传缩略图:</h4>
                <button ng-click="vm.Upload()" class="upbtn">上传</button>
                <img  ng-show="vm.video.thumbnailUrl != ''" src="{{vm.video.thumbnailUrl}}">
                <p>{{vm.thumbnailUploadStatus}}</p>
            </div>
            <div class="form-title">
                <h4>标签:</h4>
                <div ng-repeat="tag in vm.tags" class="video-check">
                    <input type="checkbox" ng-model="tag.checked">{{tag.name}}
                </div>
            </div>
            <div>
                    <span>
                        <a class="btn orange-button" ng-click="vm.submit()" ng-disabled="vm.video.introduction.length > 150">提交</a>
                    </span>
            </div>
        </div>
</div>
