<div class="form-group">
    <ul class="nav nav-tabs">
        <li role="presentation"  class="active">
            <a ui-sref="allFileData">数据文件</a>
        </li>
        <li role="presentation">
            <a ui-sref="allFileAl">算法文件</a>
        </li>
    </ul>
</div>

<div class="container-fluid">
    <div class="row">
        <div class=" col-md-5">
            <div class="panel panel-default" style="width: 80%">
                <div class="panel-heading">服务器文件</div>
                <table class="table">
                    <th>是否上传</th><th>文件名</th>
                    <tr ng-repeat="item in vm.serverData">
                        <td>
                            <label>
                                <input type="checkbox" ng-disabled="item[1]">
                            </label>
                        </td>
                        <td>{{item[0]}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class=" col-md-2">
            <button class="button" ng-click="vm.dataFileUpload()">上传至HDFS</button>

        </div>
        <div class="col-md-5">
            <div class="panel panel-default" style="width: 80%">
                <div class="panel-heading">HDFS文件</div>
                <table class="table">
                    <th>文件名</th>
                    <tr ng-repeat="item in vm.hdfsData"><td>{{item}}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>



