<script src="bower_components/bootstrap-fileinput/js/fileinput.js"></script>

<div class="form-group">
    <ul class="nav nav-tabs">
        <li role="presentation">
            <a ui-sref="projectManage">项目管理</a>
        </li>
        <li role="presentation"  class="active">
            <a ui-sref="allFileData">数据文件</a>
        </li>
        <li role="presentation">
            <a ui-sref="allFileAl">算法文件</a>
        </li>
    </ul>
</div>

<div class="form-group">
   <label style="width: 12%; margin-left: 15px">选择项目:</label>
        <select style="width: 40%;height: 30px;margin-bottom: 10px;" ng-model="vm.projectName">
            <option ng-repeat="item in vm.projects">{{item}}</option>
        </select>
</div>



<div class="container-fluid">
    <div class="row">
        <div class=" col-md-5">
            <div class="panel panel-default" style="width: 80%">
                <div class="panel-heading">
                    服务器文件
                    <button class="btn" ng-click="vm.dataFileUpload()" style="margin-left: 10px"  data-toggle="modal" data-target="#myModal">上传至server</button>
                </div>
                <table class="table">
                    <th width="100px">是否上传</th><th>文件名</th>
                    <tr ng-repeat="item in vm.serverData">
                        <td>
                            <label>
                                <input type="checkbox" ng-disabled="item[1]" ng-model="vm.checkList[$index]"
                                       ng-true-value="true" ng-false-vlaue="false" ng-click="vm.changeCheck()">
                            </label>
                        </td>
                        <td>{{item[0]}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn" ng-click="vm.fileUpHdfs()">上传至HDFS</button>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" style="width: 80%">
                <div class="panel-heading">HDFS文件</div>
                <table class="table">
                    <th>文件名</th>
                    <tr ng-repeat="item in vm.hdfsData"><td>{{item}}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--<input type="file" name="txt_file" id="txt_file" multiple class="file-loading" />-->

<form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">请选择文件</h4>
                </div>
                <div class="modal-body">
                    <input type="file" name="file" id="txt_file" multiple class="file-loading" />
                </div></div>
        </div>
    </div>
</form>


