<div class="content-wraper">
    <h1 class="header-title">所有视频</h1>
    <div class="goPages-article">
        <a class="prev-page btn  btn-success" ng-click="vm.loadPage(vm.page-1)" ng-disabled="vm.page < 2">
            <span class="screen-reader-text">上一页</span><span aria-hidden="true">&lt;</span>
        </a>
        <form class="form-inline postArticle-form">
            <div  class="form-group">
                <div class="input-group prev-page">
                    <div class="input-group-addon">第</div>
                    <input class="current-page" ng-keyup="$event.keyCode == 13 && vm.loadPage(vm.inputValue)" type="number"
                           min="1" ng-model="vm.inputValue" value="{{vm.page}}" aria-describedby="table-paging">
                    <div class="input-group-addon">页</div>
                </div>
            </div>
        </form>
        <a class="prev-page btn  btn-success" ng-click="vm.loadPage(vm.page+1)" ng-disabled="vm.videos.length < 20">
            <span class="screen-reader-text">下一页</span><span aria-hidden="true">&gt;</span>
        </a>
    </div>
    <table class="jh-table table">
        <thead>
        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()" class="ng-isolate-scope">
            <th jh-sort-by="id"><span class="ng-scope">ID</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="title"><span class="ng-scope">name</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="name"><span class="ng-scope">url</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="authorName"><span class="ng-scope">缩略图URL</span>
                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
            <th jh-sort-by="createDate"><span class="ng-scope">tag</span>
                <span class="glyphicon glyphicon-sort"></span></th>
            <!--<th jh-sort-by="state"><span class="ng-scope">State</span> <span
                class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="creator.id"><span class="ng-scope">Creator</span> <span
                class="glyphicon glyphicon-sort"></span></th>-->
            <!--<th></th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="video in vm.videos track by video.id" class="ng-scope">
            <td><a ui-sref="single-video({id:video.id})">{{video.id}}</a></td>
            <td><a ng-click="vm.gotoEdit(video)">{{video.name}}</a></td>
            <td>{{video.url}}</td>
            <td>{{video.thumbnailUrl}}</td>
            <td>{{video.tag}}</td>
            <td>{{video.state}}</td>
            <td>{{video.creator}}</td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <!--<button type="submit" ui-sref="video-detail({id:video.id})" class="btn btn-info btn-sm"-->
                            <!--href="#/video/1">-->
                        <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                        <!--<span class="hidden-xs hidden-sm ng-scope" data-translate="entity.action.view">查看</span>-->
                    <!--</button>-->
                    <!--<button type="submit" ui-sref="video.edit({id:video.id})" class="btn btn-primary btn-sm"-->
                            <!--href="#/video/1/edit?sort=authorName%2Cdesc">-->
                        <!--<span class="glyphicon glyphicon-pencil"></span>-->
                        <!--<span class="hidden-xs hidden-sm ng-scope" data-translate="entity.action.edit">编辑</span>-->
                    <!--</button>-->
                    <button type="submit" ng-click="vm.confirmDelete(video.id)" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span class="hidden-xs hidden-sm ng-scope" data-translate="entity.action.delete">删除</span>
                    </button>
                </div>
            </td>
        </tr><!-- end ngRepeat: video in vm.videos track by video.id -->
        </tbody>
    </table>
</div>
