<div>
    <h2 data-translate="bsbmsoneApp.registration.home.title">Registrations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="registration.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bsbmsoneApp.registration.home.createLabel">
                        Create new Registration
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="bsbmsoneApp.registration.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="bsbmsoneApp.registration.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sex"><span data-translate="bsbmsoneApp.registration.sex">Sex</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone"><span data-translate="bsbmsoneApp.registration.phone">Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="bsbmsoneApp.registration.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="idCard"><span data-translate="bsbmsoneApp.registration.idCard">Id Card</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="idGame"><span data-translate="bsbmsoneApp.registration.idGame">Id Game</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="teamName"><span data-translate="bsbmsoneApp.registration.teamName">Team Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="teamMate"><span data-translate="bsbmsoneApp.registration.teamMate">Team Mate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.id"><span data-translate="bsbmsoneApp.registration.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="registration in vm.registrations track by registration.id">
                    <td><a ui-sref="registration-detail({id:registration.id})">{{registration.id}}</a></td>
                    <td>{{registration.type}}</td>
                    <td>{{registration.name}}</td>
                    <td>{{registration.sex}}</td>
                    <td>{{registration.phone}}</td>
                    <td>{{registration.email}}</td>
                    <td>{{registration.idCard}}</td>
                    <td>{{registration.idGame}}</td>
                    <td>{{registration.teamName}}</td>
                    <td>{{registration.teamMate}}</td>
                    <td>
                        {{registration.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="registration-detail({id:registration.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="registration.edit({id:registration.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="registration.delete({id:registration.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
