<img class="register-img" src="/content/images/register-1.png" alt="">
<div class="modal-body" id="modal-body" style="">
    <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
    <div class="row">
        <!--<div class="col-xs-10 col-xs-offset-1">-->
        <!--<h3 class="text-center" translate="register.title">Registration</h3>-->
        <!--</div>-->
        <div class="sign-nav">
            <div class="container">
                <div class="row sign-in-up">
                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-2 pull-left">
                        <a ng-click="vm.changeState('signin')">
                            <div class="navlink" ng-class="{ 'active': vm.toggle_state === 'signin' }">
                                <h3>登录</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-2 pull-left">
                        <a ng-click="vm.changeState('signup')">
                            <div class="navlink" ng-class="{ 'active': vm.toggle_state === 'signup' }">
                                <h3>注册</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.toggle_state === 'signup'">
            <div class="col-xs-10 col-xs-offset-1">
                <form ng-show="!vm.success" name="form" role="form" novalidate show-validation>
                    <!--输入手机号-->
                    <div class="inputArea">
                        <div class="register-icon-wrapper">
                            <div class="register-icon mobile"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="number" id="phone" name="phone" placeholder="请输入您的手机号"
                                   ng-change="vm.phoneAlert = null" ng-model="vm.registerAccount.login" ng-minlength=11
                                   ng-maxlength=11 required>
                        </div>
                    </div>
                    <div ng-show="form.phone.$dirty && form.phone.$invalid">
                        <p class="register-phone">{{ vm.test }}</p>
                        <p class="register-help-block"
                           ng-show="form.phone.$error.required">
                            您的电话号码是必填项
                        </p>
                        <p class="register-help-block"
                           ng-show="form.phone.$error.minlength">
                            您的电话号码长度为11位
                        </p>
                        <p class="register-help-block"
                           ng-show="form.phone.$error.maxlength">
                            您的电话号码长度为11位
                        </p>
                    </div>
                    <div ng-show="vm.phoneAlert">
                        <p class="register-help-block">
                            {{vm.phoneAlert}}
                        </p>
                    </div>

                    <!--输入验证码-->
                    <div class="inputArea">
                        <div class="register-icon-wrapper">
                            <div class="register-icon code"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="number" id="confirmCode" name="confirmCode" placeholder="请输入验证码"
                                   ng-change="vm.codeAlert = null" ng-model="vm.registerAccount.confirmCode"
                                   ng-minlength=6 ng-maxlength=6 required>
                        </div>
                        <div class="get-code-button-wrapper">
                            <button type="submit" ng-click="vm.getCode()" class="register-get-code"
                                    ng-disabled="!vm.registerAccount.login || vm.getcodeIsdisable">
                                <span>{{ vm.btntime }}</span>
                            </button>
                        </div>
                    </div>
                    <!--<div ng-show="vm.submitIsAble">-->
                    <!--<p class="register-help-block">-->
                    <!--输入您的手机号后请点击发送验证码-->
                    <!--</p>-->
                    <!--</div>-->
                    <div ng-show="form.confirmCode.$dirty && form.confirmCode.$invalid && !vm.submitIsAble">
                        <p class="register-help-block"
                           ng-show="form.confirmCode.$error.required">
                            您的验证码需要填写
                        </p>
                        <p class="register-help-block"
                           ng-show="form.confirmCode.$error.minlength">
                            您的验证码为6位
                        </p>
                        <p class="register-help-block"
                           ng-show="form.confirmCode.$error.maxlength">
                            您的验证码为6位
                        </p>
                    </div>
                    <div ng-show="vm.codeAlert">
                        <p class="register-help-block">
                            {{vm.codeAlert}}
                        </p>
                    </div>

                    <!--输入昵称-->
                    <!--<div class="inputArea">-->
                        <!--<div class="register-icon-wrapper">-->
                            <!--<div class="register-icon nickname"></div>-->
                        <!--</div>-->
                        <!--<div class="input-wrapper">-->
                            <!--<input type="text" id="login" name="login" placeholder="您的昵称"-->
                                   <!--ng-change="vm.nicknameAlert = null" ng-model="vm.registerAccount.nickName"-->
                                   <!--ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-\u4e00-\u9fa5]*$/"-->
                                   <!--required>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div ng-show="form.login.$dirty && form.login.$invalid">-->
                        <!--<p class="register-help-block"-->
                           <!--ng-show="form.login.$error.required">-->
                            <!--您的昵称是必填项-->
                        <!--</p>-->
                        <!--<p class="register-help-block"-->
                           <!--ng-show="form.login.$error.minlength">-->
                            <!--您的昵称需要至少 1 个字符-->
                        <!--</p>-->
                        <!--<p class="register-help-block"-->
                           <!--ng-show="form.login.$error.maxlength">-->
                            <!--您的昵称长度不能超过 50 个字符-->
                        <!--</p>-->
                        <!--<p class="register-help-block"-->
                           <!--ng-show="form.login.$error.pattern">-->
                            <!--您的昵称可以由汉字，小写英文字母和数字组成-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div ng-show="vm.nicknameAlert">-->
                        <!--<p class="register-help-block">-->
                            <!--{{vm.nicknameAlert}}-->
                        <!--</p>-->
                    <!--</div>-->

                    <!--输入密码-->
                    <div class="inputArea">
                        <div class="register-icon-wrapper">
                            <div class="register-icon password"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="password" id="registerPassword" name="password" placeholder="请输入密码"
                                   autocomplete="off"
                                   ng-model="vm.registerAccount.password" ng-minlength=5 ng-maxlength=50 required>
                        </div>
                    </div>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="register-help-block"
                           ng-show="form.password.$error.required">
                            您的密码是必填项
                        </p>
                        <p class="register-help-block"
                           ng-show="form.password.$error.minlength">
                            您的密码需要至少 5 个字符长度。
                        </p>
                        <p class="register-help-block"
                           ng-show="form.password.$error.maxlength">
                            您的密码长度不能超过 50 个字符
                        </p>
                    </div>
                    <!--密码强度指示-->
                    <!--<password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>-->
                    <!--确认密码-->
                    <div class="inputArea">
                        <div class="register-icon-wrapper">
                            <div class="register-icon repassword"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="确认密码"
                                   ng-model="vm.confirmPassword" autocomplete="off" ng-minlength=5 ng-maxlength=50
                                   required>
                        </div>
                    </div>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="register-help-block"
                           ng-show="form.confirmPassword.$error.required">
                            您的确认密码是必填项
                        </p>
                        <p class="register-help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            密码需要至少 5 个字符长度
                        </p>
                        <p class="register-help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            您的确认密码长度不能超过 50 个字符
                        </p>
                    </div>
                    <div ng-show="!(form.confirmPassword.$dirty && form.confirmPassword.$invalid)">
                        <p class="register-help-block"
                           ng-show="vm.confirmPassword !== vm.registerAccount.password && vm.confirmPassword">
                            两次输入的密码不一致
                        </p>
                    </div>
                    <div ng-show="vm.alert">
                        <p class="register-help-block">
                            {{vm.alert}}
                        </p>
                    </div>

                    <!--<div>-->
                    <!--<div uib-alert ng-show="vm.error" close="vm.error = false">-->
                    <!--<strong>登录失败！</strong> 请再试试-->
                    <!--</div>-->

                    <!--<div uib-alert ng-show="vm.errorLoginExists" close="vm.errorLoginExists = false">-->
                    <!--该手机号已注册，请检查-->
                    <!--</div>-->
                    <!--<div uib-alert ng-show="vm.errorNameExists" close="vm.errorNameExists = false">-->
                    <!--该昵称已注册，请检查-->
                    <!--</div>-->

                    <!--<div class="alert alert-danger" ng-show="vm.errorEmailExists" translate="register.messages.error.emailexists">-->
                    <!--<strong>E-mail is already in use!</strong> Please choose another one.-->
                    <!--</div>-->

                    <!--<div uib-alert ng-show="vm.doNotMatch" close="vm.doNotMatch = false">-->
                    <!--您输入的密码不匹配-->
                    <!--</div>-->
                    <!--<div uib-alert ng-show="vm.fluentRequest" close="vm.fluentRequest = false">-->
                    <!--短信发送过于频繁,请等待60秒后再试!-->
                    <!--</div>-->
                    <!--<div uib-alert ng-show="vm.userRegisted" close="vm.userRegisted = false">-->
                    <!--该手机号已经注册过!-->
                    <!--</div>-->
                    <!--<div uib-alert ng-show="vm.ALIDAYU_Error" close="vm.ALIDAYU_Error = false">-->
                    <!--未知错误,可能是手机号有误!-->
                    <!--</div>-->
                    <!--<div uib-alert ng-show="vm.sendSuccess" type="info" close="vm.sendSuccess = false">-->
                    <!--<span style="color: #255;">验证码已发送!</span>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="text-center">
                        <button type="submit" ng-click="vm.register()" ng-disabled="form.$invalid"
                                class="btn orange-button register-button">注册
                        </button>
                    </div>
                </form>

                <!--<div ng-show="vm.success">-->
                <!--<div class="alert alert-success">-->
                <!--<strong>注册成功!</strong> 欢迎您的加入，请登录。-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div ng-if="vm.toggle_state === 'signin'">
            <div class="col-xs-10 col-xs-offset-1">
                <form class="form" role="form" ng-submit="vm.login($event)">
                    <div class="row">
                        <!-- 输入框 -->
                        <div class="col-xs-12">
                            <!--输入手机号-->
                            <div class="inputArea">
                                <div class="register-icon-wrapper">
                                    <div class="register-icon mobile"></div>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" id="username" placeholder="请输入您的手机号"
                                           ng-model="vm.username" ng-change="vm.authenticationError = false">
                                </div>
                            </div>
                            <!--输入密码-->
                            <div class="inputArea">
                                <div class="register-icon-wrapper">
                                    <div class="register-icon password"></div>
                                </div>
                                <div class="input-wrapper">
                                    <input type="password" id="password" placeholder="请输入密码"
                                           ng-model="vm.password" ng-change="vm.authenticationError = false"
                                           ng-minlength=4 ng-maxlength=50 required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-5">
                            <label for="rememberMe">
                                <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                                <span class="auto-sign">自动登录</span>
                            </label>
                        </div>
                        <div class="forget-password">
                            <a class="" href="" ng-click="vm.requestResetPassword()">忘记密码？</a>
                        </div>
                    </div>
                    <!--<div class="row">-->
                    <!--<div class="col-xs-7">-->
                    <!--<div class="input-valid-wrapper">-->
                    <!--<span class="help-block pull-right" ng-show="vm.authenticationError">-->
                    <!--<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;-->
                    <!--手机号或密码错误</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="row" ng-show="vm.authenticationError" aria-hidden="false" style="">
                        <div class="input-valid-wrapper"><span class="help-block"><span
                            class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; 手机号或密码错误</span></div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="text-center register-submit">
                        <button type="submit" class="orange-button register-button">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<img class="register-img-2" src="/content/images/register-2.png" alt="">
