<div class="post-wraper">
    <h1 class="header-title">{{vm.article.id == null ?'撰写新文章':'修改文章'}}</h1>

        <form class="form-inline postArticle-form">

            <div class="form-group form-title">
                <h4>请输入新闻标题：</h4>
                <input type="text" class="form-control title-input" ng-model="vm.article.title" ng-change="vm.wm()" placeholder="请输入文章标题">
                剩余可输入：{{60-(vm.article.title | gblen)}}
            </div>

            <div class="col-md-8 edit-wraper">

            <div class="form-title">
                <h4>请输入新闻简介：</h4>
                <input type="text" class="form-control" ng-model="vm.article.introduction" placeholder="请输入文章简介">
            </div>

            <div>
                <h4 class="upload-p">上传缩略图:</h4>
                    <button ng-click="vm.upload()" class="upbtn">上传</button>
                <img  ng-show="vm.article.thumbnailUrl != ''" src="{{vm.article.thumbnailUrl}}">
                <p>{{vm.thumbnailUploadStatus}}</p>
            </div>
            <div class="ncontent">
                <h4>新闻内容：</h4>
                <div class="content-editor" ng-show="vm.note.isEditShow">
                    <text-angular
                        ta-toolbar="[['h1','h2','h3'], ['bold', 'italics', 'underline','strikeThrough', 'insertImage', 'insertLink'], ['ul', 'ol', 'redo', 'undo', 'clear']]"
                        ta-text-editor-class="form-content" ng-model="vm.article.content"
                        id="tournament-editor-text"></text-angular>
                </div>
                <div class="content-viewer" ng-show="vm.note.isHtmlShow"
                     ng-bind-html="vm.article.content">
                </div>
                <div class="content-editor-btn">
                        <span>
                            <button class="btn orange-button" ng-show="vm.note.isConfirmEditButtonShow"
                               ng-click="vm.confirmEdit()" ng-disabled="(vm.article.title | gblen) > 60">提交</button>
                        </span>
                </div>
            </div>
        </div>
    </form>
</div>
