<div class="score-model-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">×
    </button>
    <div></div>
</div>

<div class="modal-body score-report">
    <div class="row">
        <div class="col-md-5">
            <div class="col-info-edit-img">
                <div class="info-edit-img" style="display: inline-block;float: none">
                    <div>
                        <input type="file" ng-hide="true" id="openssme" accept="image/png, image/jpeg, image/gif"
                               file-change="vm.onFile(file)" ng-model="file">
                        <span class="cropper-menu">
                        <a ng-click="vm.giveup()">放弃修改</a>
                        <a ng-click="vm.clickInputButton()"
                           ng-show="vm.dataUrl != null">重新选择图片</a>
                    </span>
                    </div>
                    <!--头像裁剪框-->
                    <div class="img-container">
                        <img ng-src="{{vm.dataUrl}}"
                             height="200"
                             ng-cropper
                             ng-cropper-proxy="vm.cropperProxy"
                             ng-cropper-show="vm.showEvent"
                             ng-cropper-hide="vm.hideEvent"
                             ng-cropper-options="vm.options">
                        <button class="btn orange-button" type="button"
                                ng-click="vm.clickInputButton()" ng-hide="vm.dataUrl != null">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span>选择图片</span>
                        </button>
                    </div>
                    <div class="cropper-btn">
                        <a ng-click="vm.clear()">
                            <span class="glyphicon glyphicon-repeat"></span>
                            <span>还原</span>
                        </a>
                        <a ng-click="vm.preview()">
                            <span class="glyphicon glyphicon-scissors"></span>
                            <span>确定</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="vm.isAvatar">
            <img ng-click="vm.changeDefaultAvatar($event)" src="http://omhemfx8a.bkt.clouddn.com/av.jpg">
            <img ng-click="vm.changeDefaultAvatar($event)" src="http://omhemfx8a.bkt.clouddn.com/av1.jpg">
            <img ng-click="vm.changeDefaultAvatar($event)" src="http://omhemfx8a.bkt.clouddn.com/av2.jpg">
            <img ng-click="vm.changeDefaultAvatar($event)" src="http://omhemfx8a.bkt.clouddn.com/av3.jpg">
            <img ng-click="vm.changeDefaultAvatar($event)" src="http://omhemfx8a.bkt.clouddn.com/av4.jpg">
            <img ng-click="vm.changeDefaultAvatar($event)" src="http://omhemfx8a.bkt.clouddn.com/av5.jpg">
            <img ng-click="vm.changeDefaultAvatar($event)" src="http://omhemfx8a.bkt.clouddn.com/av6.jpg">
            <button ng-click="vm.selectDefaultAvatar()">确定</button>
        </div>

        <div class="col-md-5">
            <div class="col-preview-container">
                <!--裁剪效果预览-->
                <div class="preview-container" ng-hide="vm.preview.dataUrl === undefined">
                    <div ng-hide="vm.hidePreview == false">
                        <span>预 览</span>
                        <div class="crop-preview round-preview">
                            <img ng-if="vm.preview.dataUrl" ng-src="{{vm.preview.dataUrl}}">
                            <span>150×150</span>
                        </div>
                        <div class="crop-preview">
                            <img ng-if="vm.preview.dataUrl" ng-src="{{vm.preview.dataUrl}}">
                            <span>150×150</span>
                        </div>
                    </div>
                    <button class="btn orange-button" ng-click="vm.upload()">
                        上传
                    </button>
                    <button class="btn orange-button" ng-click="vm.cancel()">
                        取消
                    </button>
                    <p ng-show="vm.AvatarChangeResult !== undefined"
                       ng-bind-html="vm.AvatarChangeResult"></p>
                </div>
            </div>
        </div>
    </div>
</div>

